<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty scope="context" name="springAppName" source="spring.application.name" defaultValue="your-spring-app"/>
    <springProperty scope="context" name="mongoDbUri" source="spring.data.mongodb.uri" defaultValue="mongodb://localhost:27017/test_logs"/>
    <springProperty scope="context" name="mongoCollectionName" source="logging.mongodb.collection-name" defaultValue="application_logs"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/backoffice-api.log</file> <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/backoffice-api.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO"> <appender-ref ref="STDOUT" /> </root>

    <!--<logger name="org.apache.kafka" level="WARN" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>-->
    <logger name="com.civislend" level="ERROR" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="com.groupName" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <appender name="MONGO_SYNC" class="com.groupName.artefactName.logging.MongoDbAppender">
        <uri>${mongoDbUri}</uri>
        <collectionName>${mongoCollectionName}</collectionName>
        <applicationName>${springAppName}</applicationName>
    </appender>

    <appender name="MONGO" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="MONGO_SYNC" />
        <queueSize>512</queueSize>
        <discardingThreshold>0</discardingThreshold> <neverBlock>true</neverBlock>
    </appender>

    <root level="INFO">
        <appender-ref ref="MONGO"/>
    </root>

</configuration>
